body{
    background-color: #0b6c3f !important;
}

.nav{
    background-color: #0b6c3f;
    height: 42px;    
    
   
}
.nav-link.disabled
{
    color: black !important;
}
.carousel-inner img {
   width: 100%;
    height: 500px; 
    
}
#cards img{
    height: 200px;
    width: 100%;
   text-align: center;
    }
    #cards{
        padding-top: 50px;
    }
    
    .card {
        background-color: white !important;
        border-color: #0b6c3f !important;
       }
    
    .nav-tabs {
        border-bottom: 1px solid #0b6c3f !important;
    }
    .nav-link {
        color: white !important;
    }
    
    /* Alinhamento do botao */
    #cards  {      
    text-align: center;}
    
    #cards  h5  {
    color:#0b6c3f;
    text-align: center;
    font-weight: bold;
    }
    #cards  p  {
        color: #0b6c3f;
        text-align: center;
        font-weight: bold;

        
        }
        section h5 {
            text-align: center;
            padding-top: 80px;
            color: white;
            font-weight: bold;
        }
       
       .BotaoCard{
           
            background: #0B6C3F;
            background-image: -webkit-linear-gradient(top, #0B6C3F, #0B6C3F);
            background-image: -moz-linear-gradient(top, #0B6C3F, #0B6C3F);
            background-image: -ms-linear-gradient(top, #0B6C3F, #0B6C3F);
            background-image: -o-linear-gradient(top, #0B6C3F, #0B6C3F);
            background-image: -webkit-gradient(to bottom, #0B6C3F, #0B6C3F);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            color: #FFFFFF;
            font-family: Verdana;
            font-size: 15px;
            font-weight: 100;
            padding: 8px;
            -webkit-box-shadow: 1px 1px 4px 0 #FFFFFF;
            -moz-box-shadow: 1px 1px 4px 0 #FFFFFF;
            box-shadow: 1px 1px 4px 0 #000000;
            text-shadow: 0 1px 20px #000000;
            border: solid #0B6C3F 1px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
         }
         .BotaoCard:hover {
            border: solid #FFFFFF 1px;
            background: #12BF6F;
            background-image: -webkit-linear-gradient(top, #12BF6F, #0B6C3F);
            background-image: -moz-linear-gradient(top, #12BF6F, #0B6C3F);
            background-image: -ms-linear-gradient(top, #12BF6F, #0B6C3F);
            background-image: -o-linear-gradient(top, #12BF6F, #0B6C3F);
            background-image: -webkit-gradient(to bottom, #12BF6F, #0B6C3F);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
         }
         footer{
            color: white;
            padding-left: 10px;
            font-weight:bold;
           background-color: #0b6c3f;
           height: 42px;
           text-align: center;
           padding-top: 10px;
          
            
        }
        