body{
    background-color: #0b864d !important;}

.nav{
    background-color: #0b6c3f;
    height: 42px;
   
}    
.nav-link.disabled
{
color:#0b6c3f !important;
}
.nav-tabs {
border-bottom: 1px solid #0b6c3f !important;
}

.nav-link {
    color: white !important;
}

section h5 {
    text-align: center;
    padding-top: 80px;
    color: white;
    font-weight: bold;
}
#assunto p  {
    color: white;
    font-size: 20px;
    padding-left: 20px;
   text-align: center;
   padding-right: 20px;
}
section h6 {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}
#assunto img {

    width: 90%;
    height: 500px;
   padding-bottom: 20px;
   
}
footer{
    color: white;
    padding-left: 10px;
    font-weight:bold;
   background-color: #0b6c3f;
   height: 42px;
   text-align: center;
   padding-top: 10px;
}